src/ct_uav_depth_package/models/hitnet/models
src/ct_uav_stereo_cpp/records
*__pycache__*
test
*.onnx
*.onnx.data
*.engine
*.tensorrt
*.log
*.pth
*.pt
*.trt
*.tar
*.zip
*.mp4
*.db3
training/data/processed_data
build_cache/cache
docker_old
ros_record_log/*